*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  text-align: center;
  background-color: black;
  color: white;
}

.app{
  padding: 2rem 1rem;
}
h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: red;
}
input{
  appearance: none;
  outline: none;
  border: none;
  background: #EEE;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

button , a{
  appearance: none;
  outline: none;
  border: none;
  background:none;
  color: #f37208c9;
font-size: 1.5rem;
line-height: 1;
text-decoration: none;
}

button:hover{
  background-color: red;
  color: white;
}

img{
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 2rem auto;
}

@media screen and (max-width: 480px) {
  h1{
    font-size: 1.6rem;
  }
  input{
    display: block;
    margin: 0 auto;
  }
  button{
    margin: 1rem auto;
  }
img{
  max-width: 200px;
}
}